<table>
  <tr>
    <td>
      <p class="lede">
        <%= Spree.t('order_mailer.final_receipt_email.dear_customer') %>
      </p>
      <p>
        <%= Spree.t('order_mailer.final_receipt_email.message') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
