<table>
  <tr>
    <td>
      <p class="lede">
        <%= Spree.t('order_mailer.return_confirmation_email.dear_customer') %>
      </p>
      <p>
        <%= Spree.t('order_mailer.return_confirmation_email.instructions') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
